
body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 15% 7%;

}

h1 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    /* text-decoration: white; */
}

h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
    font-family: "Montserrat";
}

/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem ;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 500;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}

/* Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
    max-width: 50%;
    transform: rotate(25deg);
    position: absolute;
    /* right: 20%; */
}

/* Features Section */

#features {
    padding: 7% 15%;
    text-align: center;
    background-color: white;
    position: relative;}

.feature-box {
    padding: 5%;
}

.icon {
    color:#ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
color: #ff4c68;
}

/* Testimonial Section  */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Press  */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section  */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* Call To Action  */

#cta {
    background-color: #ff4c68;
    color: white;
    text-align: center;
    padding: 7% 15% 7%;
}

.cta-heading {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;

}

#footer {
    background-color: white;
    text-align: center;
    padding: 7% 15% 7%
}

.social-icon {
    margin: 20px 10px;
}


@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

